<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/public/css/account.css">

<link href="public/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<!-- Navigation -->
{{> navigation }}

<div class="container">

    <div class="account">
        <h1>Account</h1>
    </div><!-- End class after login -->
    <div class="userInfo" id="user-info">
        <div id="user-username">Username: {{userResult.username}}</div>
        <div id="user-fname">First Name: {{userResult.firstName}}</div>
        <div id="user-lname">Last Name: {{userResult.lastName}}</div>
        <div id="user-email">Email: {{userResult.email}}</div>
        <div id="user-phoneNumber">Phone Number: {{userResult.phoneNumber}}</div>
        <div id="user-children">Registered Children: {{userResult.children.length}}</div>
        <div><a href="/viewChildren" id="viewChildren">View Children</a></div>
    </div><!-- End class userInfo -->       


    <div class="account">
        <h1>Add Child</h1>
    </div><!-- End class addNewChild -->
    
<div class="box">
    <form id='addChild' method="POST" action = "/account">
        <table class='table table-striped' id="addChildTable">
            <tr>
                <th><label>Child First Name</label></th>
                <td><input class='form-control' type='text' name='firstN' required></td>
            </tr>
            <tr>
                <th><label>Child Last Name:</label></th>
                <td><input class='form-control' type='text' name='lastN' required></td>
            </tr>
            <tr>
                <th><label>Child Phone Number:</label></th>
                <td><input type='tel' pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" name="childPhoneNumber" placeholder="000-000-0000" required></td>
            </tr>
        </table>
        <div id="botton-padding"><input type="submit" class="btn btn-outline-danger" id="submitChild" name='addAChild'></div>
        {{!-- <input type="submit" class="btn btn-primary btn-lg" name='addAChild'> --}}
    </form>
</div><!-- End class box -->

</div><!-- End class container -->
{{> footer }}
</body>