<head>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/{{this}}">

<link href="public/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
</head>

<body>
  
<!-- Navigation -->
{{> navigation }}

<div class="container">

{{> name }}



    {{!-- <div class="container">
        <h1 id="cordon">Cordon</h1>
    </div> --}}

    <div class=afterLogIn>
        <h1>Account</h1>
    </div><!-- End class after login -->

    {{!-- <div class="custom-padding"></div>
    <nav>
        <ul class="menu-area">
            <li><a href="/homepage" id="main-menu">Home</a></li>
            <li><a href="/geofence" id="main-menu">Geofence</a></li>
            <li><a href="/account" id="main-menu">Account</a></li>
            <li><a href="/logout" id="main-menu">Logout</a></li>
        </ul>
    </nav> --}}

    <div class="userInfo" id="user-info">
        <div id="user-info">Username: {{userResult.username}}</div>
        <div id="user-info">First Name: {{userResult.firstName}}</div>
        <div id="user-info">Last Name: {{userResult.lastName}}</div>
        <div id="user-info">Email: {{userResult.email}}</div>
        <div id="user-info">Phone Number: {{userResult.phoneNumber}}</div>
        <div id="user-info">Registered Children: {{userResult.children.length}}</div>
        <div><a href="/viewChildren" id="viewChildren">View Children</a></div>
    </div>


  <div class='addNewChild'>
    <h1>Add Child</h1>
    <form id='addChild' method="POST" action = "/account">
        <table class='table table-striped'>
            <tr>
                <th><label>Child First Name</label></th>
                <td><input class='form-control' type='text' name='firstN' required></td>
            </tr>
            <tr>
                <th><label>Child Last Name:</label></th>
                <td><input class='form-control' type='text' name='lastN' required></td>
            </tr>
            <tr>
                <th><label>Child Phone Number:</label></th>
                <td><input type='tel' pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" name="childPhoneNumber" placeholder="000-000-0000" required></div></td>
            </tr>
        </table>
        <hr>
        <input type="submit" class="btn btn-primary btn-lg" name='addAChild'>
    </form>
</div>
</div><!-- End class container -->
{{> footer }}
</body>