<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/{{this}}">
    <link rel="stylesheet" type="text/css" href="/public/css/addChildToGeofence.css">
    <link rel="stylesheet" type="text/scss" href="/public/css/scss/children.scss">

</head>

<body>
  
<!-- Navigation -->
{{> navigation }}

<div class="container">

<div id="geofence-to-add-child">
  <h1>Add child to the geofence</h1>
</div> <!-- end id geofence-to-add-child -->

<!-- geofence info -->
<div class="box">
    <h2>{{geofenceToAddChild.geofenceName}}</h2>
    <ul>
        <li>Address: {{geofenceToAddChild.formattedAddress}}</li>
        <li>Radius: {{geofenceToAddChild.radius}}</li>
    </ul>
</div>

<!-- Children -->
<div = class="box">
  <form method="USE" action = "/addChildToGeofence">
        {{#each myChildren as |child|}}
        {{#with child}}
    <table class='table table-striped' id="kids-{{child._id}}">
        <tr>
            <th><label>{{child.firstN}} {{child.lastN}}</label></th>
            {{!-- <td><button type="button" class="btn btn-outline-danger" id="view-child-{{child._id}}" name={{child._id}} onclick="onButtonClick(event)">View</button></td> --}}
            <td><a class="btn btn-outline-danger" id="add-child-{{child._id}}" name="{{child._id}}" href="/addChildToGeofence/{{../geofenceToAddChild._id}}/{{child._id}}">Add child</a></td>
            {{log  ../geofenceToAddChild._id  child._id}}
        </tr>
    </table><!-- End of Children -->
  </form> <!-- End form vew child -->
        {{/with}}
        {{/each}}
</div> <!-- End class box -->


{{!-- 

<div class = "addChildToGeofenceBox">
  <h1>Assign Geofence To Registered Child</h1>
  <div class = "addChildToGeofenceForm">
    <form id="addChildToGeofence-form" method="post" action="/addChildToGeofence">
        <div class="form-GeoName">
            <label for="geofencesName">Enter Geofence Name:</label>
            <input type="text" class="form-control" id="geofencesName" name="geofencesName" placeholder="Enter Text" required>
            </div>
            <div class="noGeofenceError" id="noGeofenceError" hidden></div>

        <div class="form-childsPhoneNumber">
            <label for="childsPhoneNumber">Enter Child's Phone Number:</label>
            <input type='tel' pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="childsPhoneNumber" name="childsPhoneNumber" placeholder="000-000-0000" required>
            </div>
            <div class="phoneNumberError" id="phoneNumberError" hidden></div>

        <div class="form-group">
                <button type="submit" class="btn-submit" id = "submitbutton">Submit</button>
        </div>
    </form>
  </div> --}}

</div>
</div> <!-- End class container -->
{{> footer }}
</body>

<!-- Google map API -->
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAvtiMO_fBipcjY_VBJF-1px9GVBfSLiQ&callback=initMap" async defer></script>
