<!-- Page Content -->

<head>


  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/{{this}}">
  <link rel="stylesheet" type="text/css" href="public/css/geofences.css">

</head>


<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg static-top" id="header_wrapper">
  <div class="container">
    <a class="navbar-brand" href="#">
          <img src="http://placehold.it/150x50?text=Logo" alt="">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" id="header_wrapper" href="/homepage">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="header_wrapper" href="/geofence">Geofence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="header_wrapper" href="/viewChildren">Children</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="header_wrapper" href="/account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="header_wrapper" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <!-- Logo -->
  <h1 id="cordon">Cordon</h1>

  <div id="myGeofences">
    <h1>Geofences</h1>
  </div>

<!-- Geofences -->
<div class="box">
  <ul id="myfences">
    {{#each myGeofences as |geoFence|}}
    {{#with geoFence}}
      <h2>{{geoFence.geofenceName}}</h2>
      <li>Address: {{geoFence.formattedAddress}}</li>
      <li>Radius: {{geoFence.radius}}</li>
      <a href="/addChildToGeofence" id="add_child_link">Add Child to Geofence</a>
    {{/with}}
    {{/each}}
  </ul>
</div> <!-- end class box -->

<div class="button-padding">
  <button type="button" class="btn btn-outline-danger" id="add-geofence" href="/addGeofence">Add New Geofence</button>
</div> <!-- end class button-padding -->

<!-- map-->
<div  id="map_box_padding">
  <div class="box" id="map_box">
    <div id="map">
    {{#each myGeofences as |geoFence|}}
    {{#with geoFence}}
    <div id="markers" data-lat={{geoFence.lat}} data-lng={{geoFence.lng}} data-radius={{geoFence.radius}}></div>
    {{/with}}
    {{/each}}
    </div>
     <!-- JavaScript map --->



    <script>
    var map, infoWindow;
    function initMap(){
      var center = {
        lat: parseFloat(document.getElementById('map').getAttribute("data-lat")), 
        lng: parseFloat(document.getElementById('map').getAttribute("data-lng"))
      };
      var mapGeofence = {
        lat: parseFloat(document.getElementById('markers').getAttribute("data-lat")), 
        lng: parseFloat(document.getElementById('markers').getAttribute("data-lng")),
        radius: parseFloat(document.getElementById('markers').getAttribute("data-radius"))
      };
      map = new google.maps.Map(document.getElementById('map'), {
        center: mapGeofence,
        zoom: 15
      });

      //marks
      var marker = new google.maps.Marker({
      position: mapGeofence,
      map: map
      });

      gmarkers.push(marker);
      bounds.extend(marker.getPosition());

      marker.Circle = new google.maps.Circle({
        center:marker.getPosition(),
        radius: 100,
        map: map
      });
      infoWindow = new google.maps.InfoWindow;

      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          infoWindow.setPosition(pos);
          infoWindow.setContent('Location found.');
          infoWindow.open(map);
          map.setCenter(pos);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }

    </script>

    {{!-- <script>
    var map;
    function initMap(){
        var center = {
          lat: parseFloat(document.getElementById('map').getAttribute("data-lat")), 
          lng: parseFloat(document.getElementById('map').getAttribute("data-lng"))
        };
        var mapGeofence = {
          lat: parseFloat(document.getElementById('markers').getAttribute("data-lat")), 
          lng: parseFloat(document.getElementById('markers').getAttribute("data-lng"))
        };
        map = new google.maps.Map(document.getElementById('map'), {
          center: mapGeofence,
          zoom: 15
        });
        var marker = new google.maps.Marker({
          position: mapGeofence,
          map: map
          });
      }
    </script>  --}}
    
  </div> <!-- end class box -->
</div> <!-- end class map_box_padding -->
</div> <!-- end class container -->

  <!-- Footer -->
  <footer id="Footer" class="clearfix">
  <div class="widgets_wrapper">
    <div class="container">
      <div class="column one-half">
        <aside id="custom_html-6" class="widget_text widget widget_custom_html">
          <div class="textwidget custom-html-widget">
            <ul>
              <li style="margin-bottom: 10px;"><span style="color: #fe6969; margin-right: 10px;">→</span> <a href="#">About</a></li>
            </ul>
          </div>
        </aside>
      </div>
    <div class="column one-half">
      <aside id="custom_html-6" class="widget_text widget widget_custom_html">
        <div class="textwidget custom-html-widget">
          <ul>
            <li style="margin-bottom: 10px;"><span style="color: #fe6969; margin-right: 10px;">→</span> <a href="#">Contact Us</a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
  </footer>

<!-- Google map API -->
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAvtiMO_fBipcjY_VBJF-1px9GVBfSLiQ&callback=initMap" async defer></script>
 
</body>
