<!-- Page Content -->

<head>

</head>


<body>
  <div class="container">

  <h1 id="cordon">Cordon</h1>
  <div class="custom-padding"></div>
    <nav>
      <ul class="menu-area">
        <li><a href="/homepage" id="main-menu">Home</a></li>
        <li><a href="/geofence" id="main-menu">Geofence</a></li>
        <li><a href="/account" id="main-menu">Account</a></li>
        <li><a href="/logout" id="main-menu">Logout</a></li>
      </ul>
    </nav>
  </div>

  <div><a href="/addGeofence" id="links">Add New Geofence</a></div>

   <ul id="myfences">
  {{#each myFences}}
    <li>{{this}}</li>
  {{/each}}
</ul>




  <h2>My Geofences</h2>
    <div class="col-md-12">
      <button type="button" class="collapsible-ch">Geofence Name: {{userResult.geofences.length}}</button>
        <div class="content">
            <p>Geofence address:</p>
            <p>Geofence radius:</p>
            <p>Geofence duration:</p>
            <a href="/addChildToGeofence" id="links">Add Child to Geofence</a>
        </div>
      </div>

    <!-- Child's name Heading -->
  <h3 id="ch-name">Child Name:
    <large id="child-name">Molly</large>
  </h3>

    <!-- Geofences Item Row 
    <div class="row">

      <div class="col-md-8" id="boxshadow">
        <div id="mapid"> </div>
      </div>
    -->

      <div class="col-md-4">
        <button type="button" class="collapsible">Geofence Name: {{userResult.geofences.length}}</button>
        <div class="content">
            <p>Geofence address:</p>
            <p>Geofence radius:</p>
            <p>Geofence duration:</p>
        </div>
        <button type="button" class="collapsible">Geofence Name: {{userResult.geofences.length}}</button>
        <div class="content">
            <p>Geofence address:</p>
            <p>Geofence radius:</p>
            <p>Geofence duration:</p>
        </div>
        <button type="button" class="collapsible">Geofence Name: {{userResult.geofences.length}}</button>
        <div class="content">
            <p>Geofence address:</p>
            <p>Geofence radius:</p>
            <p>Geofence duration:</p>
        </div>
      </div>
    </div>


  </div>

  
  <div class="col-md-4" id="all-children">
    <h2>All Children</h2>
  </div>
  
    <!-- /.row -->

    <!-- Related Projects Row 
    <h3 class="my-3">Related Projects</h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

    </div>
  -->

  </div>
  <!-- /.container -->



 
</body>
