<!-- Page Content -->

<head>


  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/{{this}}">
  <link rel="stylesheet" type="text/css" href="public/css/geofences.css">

</head>


<body>


<!-- Navigation -->
{{> navigation }}

<div class="container">

  <!-- Logo -->
  <h1 id="cordon">Cordon</h1>

  <div id="myGeofencess">
    <h1>Geofences</h1>
  </div>

<!-- Geofences -->
<div class="box">
  <ul id="myfences">
    {{#each myGeofences as |geoFence|}}
    {{#with geoFence}}
      <h2>{{geoFence.geofenceName}}</h2>
      <li>Address: {{geoFence.formattedAddress}}</li>
      <li>Radius: {{geoFence.radius}}</li>
      <a href="/addChildToGeofence" id="add_child_link">Add Child to Geofence</a>
    {{/with}}
    {{/each}}
  </ul>
</div> <!-- end class box -->

<div class="button-padding">
  <button type="button" class="btn btn-outline-danger" id="add-geofence" href="/addGeofence">Add New Geofence</button>
</div> <!-- end class button-padding -->
    
<!-- map-->
<div  id="map_box_padding">
  <div class="box" id="map_box">
    <div id="map">
    {{#each myGeofences as |geoFence|}}
    {{#with geoFence}}
    <div id="markers" data-lat={{geoFence.lat}} data-lng={{geoFence.lng}} data-radius={{geoFence.radius}} data-name={{geoFence.geofenceName}}></div>
    {{/with}}
    {{/each}}
    </div>
     <!-- JavaScript map --->



    <script>
    var map;

    function initMap(){
    
      var center = {
        lat: parseFloat(document.getElementById('map').getAttribute("data-lat")), 
        lng: parseFloat(document.getElementById('map').getAttribute("data-lng"))
      };
      
      var mapGeofence = {
        name: document.getElementById('markers').getAttribute("data-name"),
        lat: parseFloat(document.getElementById('markers').getAttribute("data-lat")),
        lng: parseFloat(document.getElementById('markers').getAttribute("data-lng")),
        radius: parseFloat(document.getElementById('markers').getAttribute("data-radius"))
      };

      map = new google.maps.Map(document.getElementById('map'), {
        center: mapGeofence,
        zoom: 15
      });
  
      //marks
      var marker = new google.maps.Marker({
      position: mapGeofence,
      map: map
      });

      //adds radius
      var circle = new google.maps.Circle({
      map: map,
      radius: mapGeofence.radius,
      fillColor: '#AA0000'
      });
      circle.bindTo('center', marker, 'position');

      //adds Name to Geofence on click
      var infoWindow = new google.maps.InfoWindow({
        content:mapGeofence.name
      });
      marker.addListener('click', function(){
        infoWindow.open(map, marker);
      });  

      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          infoWindow.setPosition(pos);
          infoWindow.setContent('Location found.');
          infoWindow.open(map);
          map.setCenter(pos);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }

    </script>

    {{!-- <script>
    var map;
    function initMap(){
        var center = {
          lat: parseFloat(document.getElementById('map').getAttribute("data-lat")), 
          lng: parseFloat(document.getElementById('map').getAttribute("data-lng"))
        };
        var mapGeofence = {
          lat: parseFloat(document.getElementById('markers').getAttribute("data-lat")), 
          lng: parseFloat(document.getElementById('markers').getAttribute("data-lng"))
        };
        map = new google.maps.Map(document.getElementById('map'), {
          center: mapGeofence,
          zoom: 15
        });
        var marker = new google.maps.Marker({
          position: mapGeofence,
          map: map
          });
      }
    </script>  --}}
    
  </div> <!-- end class box -->
</div> <!-- end class map_box_padding -->
</div> <!-- end class container -->

  <!-- Footer -->
{{> footer }}

<!-- Google map API -->
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAvtiMO_fBipcjY_VBJF-1px9GVBfSLiQ&callback=initMap" async defer></script>
 
</body>
