<!-- Page Content -->
<link href="public/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
          <img src="http://placehold.it/150x50?text=Logo" alt="">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/homepage">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/geofence">Geofence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{{!-- <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head> --}}


<body>


  <div class="container">

  {{!-- <h1 id="cordon">Cordon</h1> --}}
  {{!-- <div class="custom-padding"></div>
    <nav>
      <ul class="menu-area">
        <li><a href="/homepage" id="main-menu">Home</a></li>
        <li><a href="/geofence" id="main-menu">Geofence</a></li>
        <li><a href="/account" id="main-menu">Account</a></li>
        <li><a href="/logout" id="main-menu">Logout</a></li>
      </ul>
    </nav>
  </div> --}}

  <div><a href="/addGeofence" id="links">Add New Geofence</a></div>

   <ul id="myfences">
  {{#each myGeofences as |geoFence|}}
  {{#with geoFence}}
    <li>Geofence Name: {{geoFence.geofenceName}}</li>
    <li>Address: {{geoFence.formattedAddress}}</li>
    <li>Radius: {{geoFence.radius}}</li>
  {{/with}}
  {{/each}}
</ul>

{{!-- <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
 --}}



  <h2>My Geofences</h2>
    <div class="col-md-12">
      <button type="button" class="collapsible-ch">Geofence Name: {{userResult.geofences.length}}</button>
        <div class="content">
            <p>Geofence address:</p>
            <p>Geofence radius:</p>
            <p>Geofence duration:</p>
            <a href="/addChildToGeofence" id="links">Add Child to Geofence</a>
        </div>
      </div>

    <!-- Child's name Heading -->
  <h3 id="ch-name">Child Name:
    <large id="child-name">Molly</large>
  </h3>

    <!-- Geofences Item Row 
    <div class="row">

      <div class="col-md-8" id="boxshadow">
        <div id="mapid"> </div>
      </div>
    -->

      <div class="col-md-4">
        <button type="button" class="collapsible">Geofence Name: {{userResult.geofences.length}}</button>
        <div class="content">
            <p>Geofence address:</p>
            <p>Geofence radius:</p>
            <p>Geofence duration:</p>
        </div>
        <button type="button" class="collapsible">Geofence Name: {{userResult.geofences.length}}</button>
        <div class="content">
            <p>Geofence address:</p>
            <p>Geofence radius:</p>
            <p>Geofence duration:</p>
        </div>
        <button type="button" class="collapsible">Geofence Name: {{userResult.geofences.length}}</button>
        <div class="content">
            <p>Geofence address:</p>
            <p>Geofence radius:</p>
            <p>Geofence duration:</p>
        </div>
      </div>
    </div>


  </div>

  
  <div class="col-md-4" id="all-children">
    <h2>All Children</h2>
  </div>
  
    <!-- /.row -->

    <!-- Related Projects Row 
    <h3 class="my-3">Related Projects</h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

    </div>
  -->

  </div>
  <!-- /.container -->



 
</body>
